

// variables titulos

$titulo-font: 'Yeseva One', cursive;
$subtitulo-font: 'Baloo 2', cursive;

// variables colores
$color-fondo:#C9E265;
$color-titulo:#38A3A5;
$color-texto: black;

// condicionales
$color:negro;

// medidas
$ancho: 100%;


